AMOCRM_ACCESS_TOKEN=your_access_token
AMOCRM_SUBDOMAIN=possgroup
AMOCRM_SOURCE_NAME=Bepul audit olish formasi
AMOCRM_FORM_ID=bepul_audit_olish
AMOCRM_FORM_NAME=Bepul audit olish
AMOCRM_BUSINESS_FIELD_ID=1787113
AMOCRM_TURNOVER_FIELD_ID=1787115
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
